body {
  font-family: sans-serif;
}

h1,
h3,
h5,
li,
p
a {
  text-align: left;
  line-height: 1;
  color: #464141;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 4px;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
}

h5 {
  font-weight: 400;
  font-size: 12px;
}

ul.additional-info{
  margin-top:20px;
  margin-left: -10px; 
}

li {
  list-style: none;
  font-weight: 500;
  font-size: 12.5px;
}

li.special {
  float: center;
  font-size: 12.5px;
  padding: 5px;
}

li.forecast-time {
  text-align: center;
  font-weight:600;
  margin:12px;
  padding:8px; 
}

li.graph{
  margin:2px;
  padding:8px;
}

li.forecast-temperature{
  text-align: center;
  margin: 12px;
  padding:8px; 
}

.firstContainer {
  margin:18px auto;
  margin-top: 24px;
  margin-bottom:6px;
  padding: 18px;
  max-width: 450px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  background-image: linear-gradient(340deg, #f5f7fa 0%, #c3cfe2 100%);
  background-blend-mode: screen;
  box-shadow: 0px 15px 15px 0px rgba(255, 255, 255, 1.0);
}

.searchengine {
  margin-top: 4px;
  margin-left: 8px;
  padding: 4px 10px;
  border-radius: 8px;
  outline: none;
  opacity: 0.9;
  color: #464141;
}

#submit-location {
  padding: 5px 13px;
  margin-top: 4px;
  margin-left: 22px;
  border-radius: 10px;
  opacity: 0.9;
}

#location {
  padding: 5px 13px;
  margin-top: 4px;
  margin-left: 4px ;
  border-radius: 10px;
  opacity: 0.9;
}

.forecast-graph{
  height: 50px;
  width: 50px;
}

#description:first-letter {
  text-transform: capitalize;
}

.data {
  margin-left: 20px;
  padding:4px;
}

img.icon {
  padding:0;
  margin: 0;
  width: 60px;
  vertical-align: baseline;
}

.temperature {
  font-size: 60px;
  font-weight: 700px;
  text-shadow: #cccccc 1px 0 10px;
}

.units {
  position: relative;
  top: -36px;
}

.active {
  text-decoration: none;
  color: #464141;
  cursor: default;
}

#celsius-link,#fahrenheit-link{
  text-decoration:none;
}

.active:hover,.fahrenheit:hover{
  text-decoration: none;
  color: #464141;
}

.innerContainer {
  margin: 6px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  background-image: linear-gradient(180deg, #f5f7fa 0%, #c3cfe2 100%);
  background-blend-mode: screen;
  box-shadow: 0px 15px 15px 0px rgba(255, 255, 255, 0.5);
}

#forecast {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.col-2{
  padding: 0;
}

.footerContainer {
  margin:2px auto;
}

.link {
  display: block;
  text-align: left;
  margin: 0 auto;
  max-width: 440px;
  max-height: fit-content;
  font-size: 11px;
  font-family: 600;
  text-align: center;
  line-height: 1;
  color: #2a292c;
}

.linkedin-link,.github-link,.netlify-link {
  text-decoration: none;
  font-weight: 600;
  color:#2a292c;
}

.linkedin-link:hover,.github-link:hover,.netlify-link:hover{
  text-decoration: underline;
  color: #2a292c;
  opacity: 0.9;
  cursor: pointer;
}

@media (max-width:576px){
 .firstContainer{
   margin:12px auto;
 }

 #city-input, #submit-location{
   display: block;
   margin: 0 auto;
 }

 #location {
   display: none;
 }

 #city-input {
   margin-left: 8px;
 }

 #submit-location {
   margin-left: 64px;
   padding:5px 9px;
 }

 .data {
   text-align: center;
 }
 
 #forecast {
   margin:0;
   padding: 0;
 }

 li.forecast-time, li.forecast-temperature {
   margin:4px; 
   padding:8px;
 }

 li.graph{
   display: block;
   margin-left:-6px;
 }

}