h1,
h3,
h5,
li,
p
a {
  font-family: sans-serif;
  text-align: left;
  line-height: 1;
  color: #464141;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 4px;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
}

h5 {
  font-weight: 400;
  font-size: 14px;
}

ul.additional-info{
  margin:0; 
}

li {
  list-style: none;
  font-weight: 520;
  font-size: 14px;
}

li.special {
  float: center;
  font-size: 12px;
  padding: 4px;
}

li.forecast-time {
  text-align: center;
  font-weight:600;
  margin:12px;
  padding:8px; 
}

li.graph{
  margin:2px;
  padding:8px;
}

li.forecast-temperature{
  text-align: center;
  margin: 12px;
  padding:8px; 
}

.forecast-graph{
  height: 50px;
  width: 50px;
}

.firstContainer {
  margin:16px auto;
  padding: 18px;
  max-width: 450px;
  max-height: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-blend-mode: screen;
  box-shadow: 0px 15px 15px 0px rgba(255, 255, 255, 0.5);
}

.searchengine {
  margin-top: 2px;
  margin-left: 8px;
  padding: 4px 10px;
  border-radius: 4px;
  opacity: 0.9;
  color: #464141;
}

#submit-location {
  padding: 5px 20px;
  margin: 2px;
  margin-left: 4px;
  border-radius: 8px;
  opacity: 0.9;
  transition: all 200ms ease;
}

#location {
  padding: 5px 20px;
  margin-top: 2px;
  margin-left: -8px;
  border-radius: 8px;
  opacity: 0.9;
  transition: all 200ms ease;
}

.innerContainer {
  margin: 6px;
  padding: 2px;
  max-width: 450px;
  max-height: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-blend-mode: screen;
  box-shadow: 0px 15px 15px 0px rgba(255, 255, 255, 0.5);
}

#forecast {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.data {
  margin-left: 20px;
  padding:4px;
}

#description:first-letter {
  text-transform: capitalize;
}

img.icon {
  padding:0;
  margin: 0;
  width:60px;
  vertical-align: baseline;
}

.temperature {
  font-size: 60px;
  font-weight: 700px;
  text-shadow: #cccccc 1px 0 10px;
}

.units {
  position: relative;
  top: -32px;
}

.active {
  text-decoration: none;
  color: #464141;
  cursor: default;
}

#celsius-link,#fahrenheit-link{
  text-decoration:none;
}

.active:hover,.fahrenheit:hover{
  text-decoration: none;
  color: #464141;
}

.col-2{
  padding: 0;
}

.footerContainer {
  font-size: 12px;
  margin:8px auto;
  padding-left: 10px;
  max-width: 450px;
  max-height: fit-content;
}

.github-link {
  text-decoration: none;
  color: #1776dc;
}

.linkedin-link {
  text-decoration: none;
  color: #464141;
}

.github-link:hover{
  text-decoration: underline;
  color: #1776dc;
  opacity: 0.9;
  cursor: pointer;
}

.linkedin-link:hover{
  text-decoration: underline;
  color: #464141;  
  opacity: 0.9;
  cursor: pointer;
} 

